header{
	text-align: justify;
	font-family: Tahoma, sans-serif;
}

footer{
	background-color: #5DADE2;
	color: black;
	text-align: center;
    font-family:Tahoma, sans-serif;
}

body{
	background-color:#D6EAF8;
}

h4{
    font-family:Tahoma, sans-serif;
    font-size: 1.2em;
}

p{
    text-align: center;
    font-family:Tahoma, sans-serif;
    font-size: 1.2em;
}


